<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar una mesa</title>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <h2>Reservar una mesa</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reservar</button>
    </form>

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Inicia Flatpickr en el campo de fecha
        flatpickr("input[name='fecha']", {
            enableTime: false,  // Solo para la selección de fecha
            dateFormat: "Y-m-d",  // Formato Año-Mes-Día
            minDate: "today",  // No se pueden seleccionar fechas anteriores
        });

        // Inicia Flatpickr en el campo de hora
        flatpickr("input[name='hora']", {
            enableTime: true,
            noCalendar: true,  // Deshabilita el calendario
            dateFormat: "H:i",  // Formato de 24 horas
            time_24hr: true,
        });
    </script>
</body>
</html>
