<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Casa Texas Mexico{% endblock %}</title>

    <!-- Cargar el archivo CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Menú del usuario -->
        <div class="dropdown menu-dropdown">
            <button class="dropbtn">Menú</button>
            <div class="dropdown-content">
                <a href="{% url 'bebidas_list' %}">Bebidas</a>
                <a href="{% url 'platos_list' %}">Platos</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'crearpedido_list' %}">Hacer Pedido</a>
                    <a href="{% url 'mispedidos_list' %}">Pedidos</a>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="dropdown menu-dropdown">
                <button class="dropbtn">Cuenta</button>
                <div class="dropdown-content">
                    <a href="{% url 'perfil' %}">Perfil</a>
                    <a href="{% url 'editar_perfil' %}">Editar perfil</a>
                    <!-- Botón de Cerrar Sesión -->
                    <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link" style="padding: 12px 16px; margin: 0; background: none; border: none; color: #333; text-decoration: none; display: block; text-align: left; width: 100%;">
                            Cerrar Sesión
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}

        <!-- Hacer que el título sea un enlace a la página de inicio -->
        <h1><a href="{% url 'home' %}" style="color: inherit; text-decoration: none;">Casa Texas Mexico</a></h1>
    </header>

    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
        </form>
    {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login' %}" class="auth-link">Iniciar Sesión</a>
            <a href="{% url 'register' %}" class="auth-link">Registro</a>
        </div>
    {% endif %}

    <main class="content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        <!-- Contenido específico -->
        {% endblock %}
    </main>
</body>
</html>
