{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main class="image-container" style="text-align: center; position: relative;">
    <section class="top-platos" style="margin-top: 30px;">
        <h2>Platos Más Valorados</h2>
        <br>
        <div class="platos-grid" style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
            {% for plato in top_platos %}
            <div class="plato-card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 15px; max-width: 300px; text-align: center;">
		{% if plato.image %}
    			<img src="{{ plato.image.url }}" alt="{{ plato.nombre_plato }}" style="width: 100%; border-radius: 10px;">
		{% else %}
    			<p>No hay imagen disponible</p>
		{% endif %}
                <h3 style="margin-top: 10px;">{{ plato.nombre_plato }}</h3>
                <p style="color: #333;">Valoración Media: {% if plato.media_valoracion %}
                    {% if plato.media_valoracion <= 1 %}
                        🌮/5
                    {% elif plato.media_valoracion <= 2 %}
                        🌮🌮/5
                    {% elif plato.media_valoracion <= 3 %}
                        🌮🌮🌮/5
                    {% elif plato.media_valoracion <= 4 %}
                        🌮🌮🌮🌮/5
                    {% elif plato.media_valoracion >= 5 %}
                        🌮🌮🌮🌮🌮/5
                    {% endif %}
                    <!-- {{ plato.media_valoracion }} estrellas -->
                {% else %}
                    No hay valoraciones aún.
                {% endif %}</p>
                <p style="font-weight: bold;">${{ plato.precio_plato }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        <li class="nav-item" style="display: flex; align-items: center;">
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link" style="padding: 0; margin: 0; background: none; border: none; color: inherit; text-decoration: none;">
                    Cerrar Sesión
                </button>
            </form>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
        </li>
    {% endif %}
{% endblock %}
