<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}  <!-- Mostrar errores generales -->
        {{ form.as_p }}  <!-- Formulario de Django -->
        <button type="submit" class="button">Iniciar Sesión</button>
    </form>
    <p>¿No tienes cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
</div>
{% endblock %}
