<!-- templates/registration/register.html -->
{% extends 'base.html' %}

{% block title %}Registrarse{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="form-container"> <!--contenedor para centrar el contenido en la página -->
    <h2>Registrarse</h2>
    <form method="post">
        {% csrf_token %} <!-- Protección CSRF -->
        {{ form.as_p }} <!-- Formulario de registro de Django -->
        <button type="submit" class="button">Registrarse</button> <!-- Botón de envío -->
    </form>
    <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p> <!-- Enlace para iniciar sesión -->
</div>
{% endblock %}