{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">

<h2>Bebidas</h2>
<ul style="text-align: left;">  <!-- Alinea el contenido de la lista a la izquierda -->
    {% for bebida in object_list %}
        
            <strong>Bebida:</strong> {{ bebida.nom_bebida }}<br>
            <strong>Precio:</strong> {{ bebida.precio_bebida }}€<br>
            <strong>Tipos de bebida:</strong> 
            {% for tipo in bebida.tipo_bebi.all %}
                {{ tipo.tipo_bebida }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        <br>
        <br>
        <br>
    {% endfor %}
</ul>

{% endblock %}
