{% extends 'base.html' %}
{% load static %}
{% block title %}Eliminar Pedido{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Confirmar eliminación del pedido</h2>
    
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    {% if object %}
        <div class="container">
            <h3>Plato: {{ object.plato }}</h3>
            <p><strong>Cantidad:</strong> {{ object.cantidad }}</p>
            <p><strong>Observaciones:</strong> {{ object.observaciones|default:"Ninguna" }}</p>
            <p><strong>Fecha del pedido:</strong> {{ object.fecha_pedido }}</p>

            <form action="{% url 'pedido_eliminar' object.id %}" method="post" class="mt-2" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este pedido? Esta acción no se puede deshacer.');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

<style>
    .error-message {
        font-size: 80px; /* Aumentar el tamaño de la fuente */
        font-weight: bold; /* Poner el texto en negrita */
        color: red; /* Asegurarse de que el texto sea rojo */
        text-align: center; /* Centrar el mensaje */
        padding: 10px; /* Añadir algo de espacio alrededor del mensaje */
    }
</style>
