{% block content %}
    <h2>Pedidos</h2>
    <ul>
        {% for pedido in object_list %}
            <li>
                <strong>Pedido de:</strong> {{ pedido.nombre_persona }}<br>
                <strong>Total del Pedido:</strong> ${{ pedido.total_precio }}<br>
                <h3>Platos:</h3>
                <ul>
                    {% for plato in pedido.platos.all %}
                        <li>
                            <strong>Plato:</strong> {{ plato.nombre_plato }}<br>
                            <strong>Precio:</strong> ${{ plato.precio_plato }}<br>
                            <strong>Valoración:</strong> {{ plato.get_valoracion_display }}<br>
                            {% if plato.comentarios %}
                                <strong>Comentarios:</strong> {{ plato.comentarios }}<br>
                            {% else %}
                                <strong>Comentarios:</strong> Sin comentarios.<br>
                                
                            {% endif %}
                        </li>
                        
                    {% endfor %}
                </ul>
            </li>
            <br>
            <br>
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
