{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <h2>Platos</h2>
    <ul>
        {% for plato in object_list %}
            <li>
                <strong>Plato:</strong> {{ plato.nombre_plato }}<br>
                <strong>Precio:</strong> {{ plato.precio_plato }}€<br>
                <strong>Ingredientes:</strong>
                <ul>
                    {% for ingrediente in plato.ingredientes.all %}
                        <li>-{{ ingrediente.nombre_ingrediente }}</li>
                    {% endfor %}
                </ul>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
